PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USER=****
DB_PASSWORD=******
DB_NAME=fullstack
DB_SSL=false

JWT_SECRET=replace-with-a-long-random-secret
FRONTEND_URL=http://localhost:5173
AUTO_SEED=true